@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Hind:wght@700&family=Lobster&family=Mulish:wght@200&family=Poiret+One&family=Titillium+Web:wght@200&display=swap');

body::-webkit-scrollbar{
    width: 0;
}

.home-wrapper {
    height: 100vh;
    background: url('../Images/HomePageBg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;

}

.home-wrapper-main {
    position: absolute;
    top: 0;
}

.home-content-wrapper {
    height: 500px;
    width: 800px;
    position: relative;
    transform: translateX(370px) translateY(100px);
    transition: opacity 1s;
    /* box-shadow: 0px 0px 50px 20px rgba(0, 0, 0, 0.333); */
}

.home-content {
    color: white;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    perspective-origin: center;
    transform-style: preserve-3d;
    font-weight: 100;
    font-family: 'Dosis', sans-serif;
    perspective: 200px;
    font-family: 'Mulish', sans-serif;
    z-index: -2;
}

.home-content h3 {
    font-size: 1em;
    margin: 20px 0px;
    color: rgba(249, 249, 249, 1);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
}

.home-content h4 {
    font-size: 1em;
    margin: 20px 0px;
    color: rgba(249, 249, 249, 1);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
}

.home-content h1 {
    font-size: 3em;
    transform: rotateX(2deg) rotateZ(20deg) translateZ(10px);
}

.home-content h1 span {
    color: red;
}




/* home page loader */
.loader-wrapper {
    height: 100vh;
    background: url('../Images/HomePageBg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
}

.loading-content {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* media query */
@media screen and (max-width: 1000px) {
    .home-content-wrapper {
        height: 500px;
        width: 630px;
        position: relative;
        transform: translateX(20px) translateY(100px);
        background-color: rgba(0, 0, 0, 0.407);
        /* border: 2px solid red;
        border-left: 0px solid red; */
        box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.663);
    }

    .home-content h3 {
        font-size: 3em;
        margin: 20px 0px;
        color: rgba(249, 249, 249, 1);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 100;
    }

    .home-content h1 {
        font-size: 3em;
    }
}

@media screen and (max-width: 1200px) {
    .home-content-wrapper {
        transform: translateX(20px) translateY(0px);
    }
}

@media screen and (max-width: 600px) {
    .home-content-wrapper {
        height: 500px;
        width: 200px;
        position: relative;
        transform: translateX(20px) translateY(40px);
        background-color: rgba(0, 0, 0, 0.407);
        border: 2px solid red;
        border-left: 0px solid red;
        box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.663);
    }

    .home-content {
        color: white;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        perspective-origin: center;
        transform-style: preserve-3d;
        font-weight: 100;
        font-family: 'Dosis', sans-serif;
        font-family: 'Mulish', sans-serif;
    }

    .home-content h3 {
        font-size: 3em;
        margin: 20px 0px;
        color: rgba(249, 249, 249, 1);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 100;
    }

    .home-content h1 {
        font-size: 3em;
    }
}

.scroll-div {
    height: 200px;
    width: 50px;
    /* background-color: aquamarine; */
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: -50px;
    bottom: 0px;
    border-right: 2px solid rgba(255, 255, 255, 0.711);
}

.scroll-div .mouse {
    color: rgba(255, 0, 0, 0.708);
    animation-name: motion;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes motion {
    from {
        transform: scale(1.5) translateY(0px);
    }

    to {
        transform: scale(1) translateY(90px);
    }
}